In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Path
path = Path("~/datasets/home-dataset/jupyterlab/ZX05")
db_path = path / "db"

In [3]:
# DB files
db_file_cf = db_path / "CF_2023.csv"
db_file_pl = db_path / "PL_2023.csv"

In [4]:
def delete_last_month(path):
    # Read a data file in CSV format
    df = pd.read_csv(path, dtype={"costctr": str})

    # last_month = df["Period"].iloc[-1] # Find the last row
    last_month = df["period"].max()  # Find the biggest value

    # Filter out last month
    df = df[df["period"] != last_month]

    return df

In [5]:
df_cf = delete_last_month(db_file_cf)
df_cf.tail(3)

         fy  period costctr gl_accounts   actual     plan   target
11101  2023      10    2410      S95065   704576   738174   738174
11102  2023      10    2410      S95070   263566   295339   295339
11103  2023      10    2410      S95140  5331833  6095376  6095376

In [6]:
df_pl = delete_last_month(db_file_pl)
df_pl.tail(3)

         fy  period   costctr gl_accounts   actual     plan   target
58558  2023      10  CY-999MK      S90808 -2161172        0        0
58559  2023      10  CY-599MK      S87561  8029640  9481530  9481530
58560  2023      10  CY-599MK      S90805 -8029640        0        0

In [7]:
# Output data
df_cf.to_csv(db_file_cf, index=False)
df_pl.to_csv(db_file_pl, index=False)