In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from PnL.pandas.waterfall import waterfall

df = pd.DataFrame({'category':['Sales','Service','Expenses','Taxes','Interest'],
                   'num':[100,10,-20,-30,60]})

In [10]:
df

   category  num
0     Sales  100
1   Service   10
2  Expenses  -20
3     Taxes  -30
4  Interest   60

In [11]:
waterfall(df, "category", "num")

NameError: name 'np' is not defined

: